.register {
  width: 100%;
  height: var(--vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  .topBlock {
    width: 100%;
    height: 100px;
    background: var(--secondary);
  }
  .form {
    width: 100%;
    height: calc(100% - 100px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .topForm {
      // background: gray;
      height: calc(100% - 60px);
      h2 {
        height: 20px;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .inputs {
        // background: black;
        height: calc(100% - 80px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .checkLabel {
        margin-top: 15px;
        height: 10px;
        display: flex;
        align-items: center;
        span {
          margin-left: 5px;
          font-size: 11px;
        }
      }
      .loginLink {
        font-size: 12px;
        height: 12px;
      }
    }
    .registerButton {
      width: 100%;
      height: 40px;
    }
  }
}
